/* TODO: Have your plugin's CSS files generated to here. */
.safetyprinter-input {
    width: 40px;
}

.safetyprinter-display {
    width: 80px;
    background-color: white !important;
    color: black;
    border: none;
}

.safetyprinter-error  {
    width: 80%;
    background-color: white !important;
    color: darkred;
    border: none;
}

.SPTable {
    width: 97%;
}

.SPTable-noborder {
    width: 97%;
    border-collapse: collapse;
    border: 1px solid black;
    border-spacing: 10px;
}

.SPterminal {
    width: 97%;
    #SafetyPrinterTerminal {
      min-height: 340px;
      margin-bottom: 5px;
    }

    margin-bottom: 30px;
}

