/* TODO: Have your plugin's CSS files generated to here. */
.safetyprinter-input {
    width: 40px;
}

.safetyprinter-display {
    width: 80px;
    background-color: white !important;
    color: black;
    border: none;
}

.safetyprinter-error  {
    width: 80%;
    background-color: white !important;
    color: darkred;
    border: none;
}