<table style="width:100%">
  <tr>
    <td><p>Connection: <span data-bind="style: {color: connectionColor}"><strong data-bind="text: connection"></strong></span></p></td>
    <td style="text-align: right;"><span data-bind="visible: notConnected"><button data-bind="click: connectBtn">Connect</button></span></td>
  </tr>	
  <tr>
    <td><p data-bind="style: {color: interlockColor}">Status: <strong data-bind="text: interlock"></strong></p></td>
    <td style="text-align: right;"><span data-bind="visible: tripBtnVisible"><button data-bind="click: tripResetBtn">Reset</button></span></td>
  </tr>
</table>

<!-- ko foreach: spSensors -->
<div data-bind="visible: visible">
<p><span data-bind="text: label"></span> : <span data-bind="style: {color: color}"><strong data-bind="text: status"></strong></span></p>
</div>
<!-- /ko -->

<center>
<button data-bind="click: emergencyStopBtn" class="btn btn-danger">Emergency STOP</button></center>
