<h3>Configuration for Safety Printer</h3>
<p>
Plugin version:</br>
Safety Printer Arduino firmware version:</br>
Serial Port:</br>
</p>
<table style="width:100%">
  <th>
    <td>Label:</td>
    <td>Type:</td>
    <td>Enable:</td>
    <td>Active:</td>
    <td>New Alarm:</td>
    <td>Set Point:</td>
    <td>Actual Value:</td>
  </th>
  <!-- ko foreach: spSensors -->
  <div data-bind="visible: visible">
  <tr>  
    <td><span data-bind="text: label"></span></td>
    <td>Type:</td>
    <td><span data-bind="text: enabled"></span></td>
    <td><span data-bind="text: active"></span></td>
    <td><span data-bind="text: newAlarm"></span></td>	
    <td>Set Point:</td>
    <td><span data-bind="text: actualValue"></span></td>
   </tr>
   </div>
<!-- /ko -->
</table>

<h3>Advanced</h3>
<h4>Terminal</h4>
